*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

:root {
    --rowNum: 0;
    --colNum: 0;
    --bgColor: white;
}

#main {
    height: 100vh;
    width: 100vw; 
    display: inline-block;
    justify-content: center;
}

#gridContainer {
    display: grid;
    height: 30rem;
    width: 30rem;
    border: 1px dotted blue;
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--colNum), 1fr);
}


#btnContainer {
    justify-self: flex-end;
    margin-left: 5rem;
}

.btn {
    height: 30px;
    width: 75px;
}
.btn:hover {
    cursor: pointer;
}

.gridCell {
    border: 1px solid black;
    background-color: var(--bgColor);
}

/*
.gridCell.active {
   background-color: blue;
}
*/